<!DOCTYPE html>
<html>
    <head></head>
    <body><div style="text-align: center;">
        <h1>Welcome to Air Ticket Reservation System!</h1>
        Plan your trip through <a href="/flightSearch">Search Flights</a> </br>
        Track Flights through <a href="/flightStatus">Find Flights' Status</a> </br> </br>
        <a href="/login">Login</a> to use full features</br> </br>
        Don't have an account yet? Register now! </br>
        <a href="/customerRegister">Customer Register</a> </br>
        <a href="/baRegister">Booking Agent Register</a> </br>
        <a href="/staffRegister">Airline Staff Register</a> </br> </div>
    </body>
</html>